.industry-usecases-section {
  background-color: #F5F7FA;
  text-align: center;
}

.industry-usecases-section h2 {
  font-size: 35px;
  font-weight: 700;
  color: #04275B;
  position: relative;
  display: inline-block;
  margin-bottom: 30px; 
}

.industry-usecases-section h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px; 
  transform: translateX(-50%);
  width: 100px; 
  height: 4px;
  background: linear-gradient(90deg, #FFB43B 0%, #E20D9B 100%);
  border-radius: 2px;
}


.headingparagraph{
   font-size: 18px;
  color: #04275B;  
  font-weight: 500;
}

.industry-usecases-section p {
  font-size: 16px;
  color: #4D4D4D;
}

.card-title {
  font-weight: 600;
  color: #04275b;
}

.card-text {
  font-size: 14px;
  color: #4d4d4d;
}

@media (max-width: 768px) {
  .industry-usecases-section h2 {
    font-size: 24px;
  }
  .industry-usecases-section p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .industry-usecases-section h2 {
    font-size: 22px;
  }
  .industry-usecases-section p {
    font-size: 13px;
  }
}
