.ourprocesspackage-container {
  padding: 40px 20px;
  background-color: #4CAF4F;
}

.ourprocesspackage-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #FFFFFF;
  position: relative;
  text-align: center;
}

.ourprocesspackage-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: linear-gradient(90deg, #FFB43B 0%, #E20D9B 100%);
  margin: 8px auto 0;
  border-radius: 2px;
}

.ourprocesspackage-content {
  display: flex;
  justify-content: center;
  /* center items */
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  /* even gap between items */
  margin-top: 30px;
}

.ourprocesspackage-item {
  flex: 0 1 220px;
  /* fixed width blocks */
  text-align: center;
}

.ourprocesspackage-item img {
  width: 300px;
  height: auto;
  object-fit: contain;
  margin-bottom: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.ourprocesspackage-item p {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  margin: 0;
  text-align: left;
}

/* ✅ Responsive */
@media (max-width: 1024px) {
  .ourprocesspackage-item {
    flex: 0 1 45%;
    /* 2 per row */
  }
}

@media (max-width: 600px) {
  .ourprocesspackage-item {
    flex: 0 1 100%;
    /* 1 per row */
  }

  .ourprocesspackage-title {
    font-size: 22px;
  }

  .ourprocesspackage-item p {

    text-align: center;
  }

  /* .ourprocesspackage-item img {
    width: 100px;
    height: auto;
  } */
}