.generativeaifaq {
  padding: 60px 20px;
  background: radial-gradient(57.52% 57.52% at 34.47% 42.48%, #0F2734 0%, #051118 100%);
  color: #fff;
}

/* Title */
.generativeaifaq-title {
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: left;
}

/* Accordion container */
.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

/* Accordion item */
.accordion-item {
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #D9D9D980;
  padding: 15px 20px;
  color: #FFFFFF !important;
}

/* Accordion button */
.accordion-button {
  font-weight: 600;
  color: #333;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
}

/* Remove focus glow */
.accordion-button:focus,
.accordion-button:active {
  outline: none;
  box-shadow: none;
}

/* + / - icons */
.accordion-button::before {
  content: "+";
  position: absolute;
  right: -20px;
  top: -15px;
  font-size: 24px;
  font-weight: bold;
  transition: transform 0.2s ease;
  background-color: #4FA9E2;
  border-radius: 0px 5px 0px 0px;
  padding: 4px 8px;
}

.accordion-button:not(.collapsed)::before {
  content: "-";
}

/* Accordion body */
.accordion-body {
  padding: 15px 20px;
  font-weight: 300;
  color: #FFFFFF;
  margin-top: 10px;
  line-height: 1.4;
}

/* FAQ image */
.generativeaifaq-image {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.generativeaifaq-image::before {
  content: "";
  display: block;
  background-image: url('../../../../assets/images/faqdigital.png');
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border-radius: 8px;
  position: absolute;
  top: -20px;
  left: 200px;
  z-index: 2;
}

/* Responsive */
@media (max-width: 768px) {
  .generativeaifaq-title {
    font-size: 28px;
    text-align: center;
  }

  .accordion-button {
    font-size: 18px;
  }

  .accordion-body {
    font-size: 14px;
  }

  .generativeaifaq-image,
  .generativeaifaq-image::before {
    display: none;
  }

  .generativeaifaq {
    padding: 40px 15px;
  }
}
